    <section class="ml-3">
        <div class="container mt-5 ml-5">

            <div class="row ml-5">
                {{#each product}}
                <div class="col-md-3 p-3">

                    <div class="card" style="width: 15rem; height: 28rem;">
                        <img class="card-img-top" src="/product-image/{{this._id}}.jpg" alt="Card image cap" style="height: 16rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.content}}</p>
                            <p class="card-text">{{this.catogary}}</p>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to chart</a>
                        </div>
                    </div>
                </div>
                {{/each}}


            </div>


        </div>
    </section>
